<h2>
    {{#each crumbs as |crumb|}}
        {{#if crumb.pathName }}
            {{#link-to crumb.pathName}}{{crumb.title}}{{/link-to}} >
        {{else}}
            {{ crumb.title }}
        {{/if}}
    {{/each}}
</h2>