<table class="table table-responsive table-bordered  table-striped calendar-month">
    <caption>{{monthName}} <small>{{year}}</small></caption>
    <thead>
        <tr>
            <th>Mo</th>
            <th>Tu</th>
            <th>We</th>
            <th>Th</th>
            <th>Fr</th>
            <th>Sa</th>
            <th>Su</th>
        </tr>
    </thead>
    <tbody>
    {{#each weeks as |week|}}
        <tr>
            {{#each week as |day|}}
                {{calendar-day date=day.date events=events month=month isChecked=day.isChecked checkDateAction=checkDateAction showNumbers=true nonWorkingOnly=nonWorkingOnly sectionId=sectionId}}
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>

