<div class="calendar_options">
    {{drop-down content=years onChange=(action "changeYear") selectedValue=year }}
    {{drop-down content=months onChange=(action "changeMonth") }}
</div>

<div class="clearfix"></div>

{{#each monthNumbers as |m|}}
    {{calendar-month month=m year=year checkDateAction=(action 'checkDate') checkedDates=checkedDatesPlain events=events nonWorkingOnly=nonWorkingOnly}}
{{/each}}

<div class="clearfix"></div>

{{calendar-actions checkedDates=checkedDates events=events showButtons=showButtons model=model event_types=event_types}}