
<p>
    Filter:
    {{drop-down content=filterWithAll onChange=(action "select") }}
</p>

<table class="table">
    <thead>
    <tr>
        {{#each headers as |header|}}
            <th>{{header}}</th>
        {{/each}}
    </tr>
    </thead>
    <tbody>
    {{#each filteredItems as |item id|}}
        {{yield item id}}
    {{/each}}
    </tbody>
</table>



