{{yield}}

<table class="horizontal-month {{if showNumbers "calendar-header" "calendar-body"}}">
    <tbody>
        <tr>
            {{#each days as |day|}}
                {{calendar-day date=day.date isHoliday=day.isHoliday localEvents=day.localEvents month=month isSingleMonth=true isChecked=day.isChecked checkDateAction=checkDateAction showNumbers=showNumbers isHeader=isHeader sectionId=sectionId}}
            {{/each}}
        </tr>
    </tbody>
</table>
