<div>
    <ul class="menu">
        <li>{{#link-to "teams"}}Teams{{/link-to}}</li>
        <li>{{#link-to "users"}}Users{{/link-to}}</li>
        <li>{{#link-to "employees"}}Employees{{/link-to}}</li>
        <li>{{#link-to "about"}}About{{/link-to}}</li>
        <li>{{#link-to "contact"}}Contact us.{{/link-to}}</li>
    </ul>
    <div class="clearfix"></div>
</div>
