<div>
    <ul class="menu">
        <li>{{#link-to "teams"}}Teams{{/link-to}}</li>
        <li>{{#link-to "users"}}Users{{/link-to}}</li>
        <li>{{#link-to "employees"}}Employees{{/link-to}}</li>
        <li>{{#link-to "calendar"}}Calendar{{/link-to}}</li>
        <li>{{#link-to "events"}}Events{{/link-to}}</li>
    </ul>
    <div class="clearfix"></div>
</div>
