{{!bread-crumbs}}



<p>Name: {{input value=model.team.name}}</p>
<p>Code: {{input value=model.team.code}}</p>
<p>Is general calendar enabled: {{input type="checkbox" checked=model.team.isGeneralCalendarEnabled}}</p>


{{outlet}}
