.menu {
    list-style-type: none;

    li {
        float: left;
        padding: 2px 10px;
        font-size: 16pt;

        &:hover {
            a {
                color: white;
            }
            background-color: #ab462b;
        }
    }
}
.calendar-month{

    width: 350px;
    margin: 5px 10px;
    float: left;

    caption {
        font-size: 18pt;
        color: brown;
        font-weight: bold;
        text-align: center;

        small {
            font-size: 8pt;
            color: grey;
        }
    }

    th {
        font-weight: bold;
        text-align: center;
    }

    td, th {
        padding: 1px !important;
        div {
            cursor: pointer;
            padding: 7px;

            &:hover {
                background-color: lightyellow;
            }
        }

        &.holiday {
            background-color: red;
            color: yellow;

            &.bg-success {
                background-color: blue;
            }
        }
    }
}
.clearfix {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.events_agenda {
    list-style-type: none;
}

.event {
    width: 40px;
    height: 23px;
    display: inline-block;
    font-weight: bold;
    padding: 3px 5px;
    text-align: center;
    border: 1px solid #ccc9c9;
    line-height: 16px;

    &.event_ph,
    &.event_we {
        background-color: red;
    }
}
.date_event_container{
    position: relative;
    .event_value {
        font-size: 8pt;
        color: black;
        padding: 1px;
        border: 1px solid grey;
        position: absolute;
        right: 1px;
        top: 1px;
    }

    .event {
        position: absolute;
        bottom: 1px;
        right: 1px;
        width: 20px;
        height: 15px;
        font-size: 6pt;
        padding: 0;
    }
}

table {
    border-collapse: collapse;

    th, td {
        border: 1px solid #c6c6c6;
        padding: 3px 10px;
    }
}

.danger_button {
    color: red;
    font-weight: bold;
}

.calendar_options {

    color: orange;
    background-color: #d0d0d0;
    padding: 4px 20px;
    min-height: 30px;

    div {
        select {
            background-color: black;
        }
        float: left;
    }
}
