.menu {
    list-style-type: none;

    li {
        float: left;
        padding: 2px 10px;
        font-size: 16pt;

        &:hover {
            a {
                color: white;
            }
            background-color: #ab462b;
        }
    }
}
.calendar-month{

    width: 350px;
    margin: 5px 10px;
    float: left;

    caption {
        font-size: 18pt;
        color: brown;
        font-weight: bold;
        text-align: center;
    }

    th {
        font-weight: bold;
        text-align: center;
    }

    td, th {
        padding: 1px !important;
        div {
            cursor: pointer;
            padding: 7px;

            &:hover {
                background-color: lightyellow;
            }
        }
    }
}
.clearfix {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.events_agenda {
    list-style-type: none;
    .event {
        width: 40px;
        height: 23px;
        display: inline-block;
        font-weight: bold;
        padding: 3px 5px;
        text-align: center;
        border: 1px solid #ccc9c9;
        line-height: 16px;
    }
}
