<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="LowerCaseRule1" stopProcessing="true">
                    <match url="[A-Z]" ignoreCase="false" />
                    <action type="Redirect" url="{ToLower:{URL}}" />
                    <conditions>
                        <add input="{HTTP_METHOD}" pattern="POST" negate="true" />
                    </conditions>
                </rule>
                <rule name="For .local call app_dev.php" stopProcessing="true">
                    <match url="^(login|login_check|register(/.*)?|logout|welcome|whoami|profile(/.*)?|resetting(/.*)?|api/.*|cal/.*|_wdt/.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{PATH_TRANSLATED}" matchType="IsFile" negate="true" />
                        <add input="{DOCUMENT_ROOT}{PATH_INFO}index.php" matchType="IsFile" negate="true" />
                        <add input="{HTTP_HOST}" pattern="^.+\.local$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="/app_dev.php/{R:1}" appendQueryString="true" />
                </rule>
                <rule name="For any call app.php" stopProcessing="true">
                    <match url="^(login|login_check|register(/.*)?|logout|welcome|whoami|profile(/.*)?|resetting(/.*)?|api/.*|cal/.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{PATH_TRANSLATED}" matchType="IsFile" negate="true" />
                        <add input="{DOCUMENT_ROOT}{PATH_INFO}index.php" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/app.php/{R:1}" appendQueryString="true" />
                </rule>
                <rule name="Ember server" stopProcessing="true">
                    <match url="^.*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{PATH_TRANSLATED}" matchType="IsFile" negate="true" />
                        <add input="{HTTP_HOST}" pattern="^.+\.local$" ignoreCase="false" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:4200/{R:0}" />
                </rule>
                <rule name="Ember assets" stopProcessing="true">
                    <match url="^assets/.*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{PATH_TRANSLATED}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/dist/{R:0}" />
                </rule>
                <rule name="Ember index.html" stopProcessing="true">
                    <match url="^.*$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{PATH_TRANSLATED}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/dist/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
